template.json
{"Resources":{"StateMachine56bdf5c2":{"Type":"AWS::StepFunctions::StateMachine","Properties":{"Definition":{"Comment":"Workflow Avançado: S3 + DynamoDB + SNS","StartAt":"ValidateOrder","QueryLanguage":"JSONata","States":{"ValidateOrder":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Output":"{% $states.result.Payload %}","Arguments":{"FunctionName":"${lambdainvoke_FunctionName_c6102a1e}","Payload":"{% $states.input %}"},"Next":"ProcessPayment","Catch":[{"ErrorEquals":["States.ALL"],"Next":"ValidationFailed"}]},"ProcessPayment":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Output":"{% $states.result.Payload %}","Arguments":{"FunctionName":"${lambdainvoke_FunctionName_8fc22118}","Payload":"{% $states.input %}"},"Next":"PaymentDecision"},"PaymentDecision":{"Type":"Choice","Choices":[{"Next":"SaveToDynamoDB","Condition":"{% ($states.input.order.payment_status) = (\"SUCCESS\") %}"},{"Next":"SendFailureNotification","Condition":"{% ($states.input.order.payment_status) = (\"FAILED\") %}"}],"Default":"PaymentFailed"},"SaveToDynamoDB":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Output":"{% $states.result.Payload %}","Arguments":{"FunctionName":"${lambdainvoke_FunctionName_f92d46b3}","Payload":"{% $states.input %}"},"Next":"SaveToS3"},"SaveToS3":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Output":"{% $states.result.Payload %}","Arguments":{"FunctionName":"${lambdainvoke_FunctionName_22dac5ae}","Payload":"{% $states.input %}"},"Next":"SendSuccessNotification"},"SendSuccessNotification":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Arguments":{"FunctionName":"${lambdainvoke_FunctionName_0b89624c}","Payload":"{% $states.input %}"},"Next":"OrderProcessedSuccessfully"},"SendFailureNotification":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Arguments":{"FunctionName":"${lambdainvoke_FunctionName_0b89624c}","Payload":"{% $states.input %}"},"Next":"PaymentFailed"},"ValidationFailed":{"Type":"Fail"},"PaymentFailed":{"Type":"Fail"},"OrderProcessedSuccessfully":{"Type":"Succeed"}}},"DefinitionSubstitutions":{"lambdainvoke_FunctionName_c6102a1e":"arn:aws:lambda:us-east-1:343312638036:function:validate-order:$LATEST","lambdainvoke_FunctionName_8fc22118":"arn:aws:lambda:us-east-1:343312638036:function:process-payment:$LATEST","lambdainvoke_FunctionName_f92d46b3":"arn:aws:lambda:us-east-1:343312638036:function:save-to-dynamodb:$LATEST","lambdainvoke_FunctionName_22dac5ae":"arn:aws:lambda:us-east-1:343312638036:function:save-to-s3:$LATEST","lambdainvoke_FunctionName_0b89624c":"arn:aws:lambda:us-east-1:343312638036:function:send-notification:$LATEST"},"RoleArn":{"Fn::GetAtt":["Rolef45dfc2f","Arn"]},"StateMachineName":"StateMachine56bdf5c2","StateMachineType":"STANDARD","EncryptionConfiguration":{"Type":"AWS_OWNED_KEY"},"TracingConfiguration":{"Enabled":true},"LoggingConfiguration":{"Level":"ALL","IncludeExecutionData":false,"Destinations":[{"CloudWatchLogsLogGroup":{"LogGroupArn":{"Fn::GetAtt":["LogGroupf62632b6","Arn"]}}}]}}},"Rolef45dfc2f":{"Type":"AWS::IAM::Role","Properties":{"RoleName":"StepFunctions_IAM_ROLE_OrderProcessingWorkflowaffceaa7","AssumeRolePolicyDocument":{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Principal":{"Service":"states.amazonaws.com"},"Action":"sts:AssumeRole"}]},"MaxSessionDuration":3600}},"Policy9ef0073a":{"Type":"AWS::IAM::RolePolicy","Properties":{"PolicyName":"LambdaInvokeScopedAccessPolicy4fcb0a54","RoleName":{"Ref":"Rolef45dfc2f"},"PolicyDocument":{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Action":["lambda:InvokeFunction"],"Resource":["arn:aws:lambda:us-east-1:343312638036:function:validate-order:*","arn:aws:lambda:us-east-1:343312638036:function:process-payment:*","arn:aws:lambda:us-east-1:343312638036:function:send-notification:*","arn:aws:lambda:us-east-1:343312638036:function:save-to-s3:*","arn:aws:lambda:us-east-1:343312638036:function:save-to-dynamodb:*"]},{"Effect":"Allow","Action":["lambda:InvokeFunction"],"Resource":["arn:aws:lambda:us-east-1:343312638036:function:validate-order","arn:aws:lambda:us-east-1:343312638036:function:process-payment","arn:aws:lambda:us-east-1:343312638036:function:send-notification","arn:aws:lambda:us-east-1:343312638036:function:save-to-s3","arn:aws:lambda:us-east-1:343312638036:function:save-to-dynamodb"]}]}}},"Policy3aa11761":{"Type":"AWS::IAM::RolePolicy","Properties":{"PolicyName":"XRayAccessPolicy14d2b121","RoleName":{"Ref":"Rolef45dfc2f"},"PolicyDocument":{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Action":["xray:PutTraceSegments","xray:PutTelemetryRecords","xray:GetSamplingRules","xray:GetSamplingTargets"],"Resource":["*"]}]}}},"Policy72f1e422":{"Type":"AWS::IAM::RolePolicy","Properties":{"PolicyName":"CloudWatchLogsDeliveryFullAccessPolicy38c141dc","RoleName":{"Ref":"Rolef45dfc2f"},"PolicyDocument":{"Version":"2012-10-17","Statement":[{"Effect":"Allow","Action":["logs:CreateLogDelivery","logs:GetLogDelivery","logs:UpdateLogDelivery","logs:DeleteLogDelivery","logs:ListLogDeliveries","logs:PutResourcePolicy","logs:DescribeResourcePolicies","logs:DescribeLogGroups"],"Resource":"*"}]}}},"LogGroupf62632b6":{"Type":"AWS::Logs::LogGroup","Properties":{"LogGroupName":"/aws/vendedlogs/states/StateMachine56bdf5c2-Logs"}}}}